@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code */

html {
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 170vh;
}
.container {
    max-width: 320px;
}
.first-section {
    text-align: center;
}
.first-section > h1 {
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
    color: hsl(234, 12%, 34%);
}
.first-section > h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
.first-section > p {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(229, 6%, 66%);
}
img {
    margin-top: 2rem;
    position: relative;
    left: 12.5rem;
}
.second-section {
    margin-top: 2rem;
}
article{
    background-color: white;
    border-radius: 8px;
    margin-top: 1.5rem;
    padding: 1.7rem;
    box-shadow: 0 5px 30px -5px hsl(210, 70%, 87%);
}
article > h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.9rem;
    color: hsl(234, 12%, 34%);
}
article > p {
    font-size: 0.85rem;
    line-height: 1.5;
    color: hsl(229, 6%, 66%);
}
.first-article {
    border-top: 0.25rem solid hsl(180, 62%, 55%);
}
.second-article {
    border-top: 0.25rem solid hsl(0, 78%, 62%);
}
.third-article {
    border-top: 0.25rem solid hsl(34, 97%, 64%);
}
.fourth-article {
    border-top: 0.25rem solid hsl(212, 86%, 64%);
}

@media screen and (min-width: 1100px) {
    body {
        min-height: 100vh;
    }
    .container {
        max-width: 1100px;
    }
    .second-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 2rem;
    }
    img  {
        left: 14.5rem;
    }
    .first-section > h1 {
        font-size: 2.3rem;
    }
    .first-section > h2 {
        font-size: 2.3rem;
    }
    .first-section > p {
        padding: 0 17rem;
    }
}